@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Труд </h1>
    <p class="lead">
    — источник всякого богатства. Он первое основное условие всей человеческой жизни — и притом в такой степени, что мы в известном смысле должны сказать: труд создал самого человека.
    </p>
    <p><small>Ф. Энгельс</small></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Компания</h2>
        <p>– это юридическое лицо, которое ведёт предпринимательскую деятельность и зарегистрировано в установленном порядке.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Company")">Компании &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Сотрудник</h2>
        <p>— субъект трудового права, физическое лицо, работающее по трудовому договору у работодателя и получающее за это заработную плату. </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Employee")">Сотрудники &raquo;</a></p>
    </div>

</div>